/* 右箭头 */
:global(.arrow-right){
  color: rgba(204,204,204,1);
  position: relative;
  height: 12px;
  width: 10px;
}
:global(.arrow-right)::after{
    content: '';
    position: absolute;
    left: 0px;
    bottom: 2px;
    width: 7px;
    height: 7px;
    border-bottom: solid 1px currentColor;
    border-right: solid 1px currentColor;
    -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

/* 勾选样式☑️ */
:global(.check) {
  margin-top: -5px;
  color: rgba(106,126,231,1);
  margin-left: 3px;
  width: 14px;
  height: 8px;
  border-bottom: solid 2px currentColor;
  border-left: solid 2px currentColor;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

:global(.am-modal-button){
  font-size:14px!important;
}