/* enter是入场前的刹那（点击按钮），appear指页面第一次加载前的一刹那（自动） */
/* .fade-enter,
.fade-appear {
  opacity: 0;
  font-size: 0;
  width: 0;
} */
/* enter-active指入场后到入场结束的过程，appear-active则是页面第一次加载自动执行 */
/* .fade-enter-active,
.fade-appear-active {
  font-size: 14px;
  opacity: 1;
  width: auto;
  transition: all 1s ease-in-out;
} */
/* 入场动画执行完毕后，保持状态 */
/* .fade-enter-done {
  font-size: 14px;
  opacity: 1;
  width: auto;
} */
/* 同理，出场前的一刹那，以下就不详细解释了，一样的道理 */
/* .fade-exit {
  font-size: 14px;
  opacity: 1;
  width: auto;
} */

/* .fade-exit-active {
  font-size: 0px;
  opacity: 0;
  width: 0;
  transition: all 1s ease-in-out;
}

.fade-exit-done {
  font-size: 0px;
} */
.fade_enter {
  animation: mymove 2s forwards;
  -webkit-animation: mymove 2s forwards; /*Safari and Chrome*/
}

@keyframes mymove {
  from {
    width: 0px;
    /* height: 0; */
  }
  to {
    width: auto;
    /* height: auto; */
  }
}

@-webkit-keyframes mymove /*Safari and Chrome*/ {
  from {
    width: 0px;
  }
  to {
    width: auto;
    /* height: auto; */
  }
}
